<!DOCTYPE html>
<html >
<meta charset="utf-8">
<head>
<title>C</title>
<href="style.css" rel="stylesheet">


</head>
<body>
	<body background="fond.jpg";>
	<div ng-app="app">
		<div ng-controller="appCtrl">
			<input ng-model="valeur" placeholder="valeur"class ="input"/>
			<button ng-click="addDepense()">Ajouter dépense</button>
			<ul>
				<li ng-repeat="depense in depenses">
					{{ depense.valeur }} <span ng-click="rmDepense($index)"class ="delete">×</span>
				</li>
			</ul>
			<strong>Total des dépenses : {{ total }}</strong>
		</div>
</div>
 <script data-cloud9-id='16' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="main2.js"></script>

</body>

</html>